<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" [src]="getPhotoUrl()" alt="Avatar">
    <h4 class="name">{{ nom + " " +prenom }}</h4>
    <p class="designation">{{fonction}}</p>

    <mat-divider></mat-divider>

    <button 
  mat-button 
  class="menu-button" 
  routerLink="/GsAdmin/dashboard" 
  routerLinkActive="menu-button-active"
  [routerLinkActiveOptions]="{ exact: true }">
  <mat-icon>dashboard</mat-icon>
  <span>Dashboard</span>
</button>

    <button mat-button class="menu-button" routerLink="/GsAdmin/rh">
      <mat-icon>personne</mat-icon>
      <span>RH</span>
    </button>
    <button mat-button class="menu-button" routerLink="/GsAdmin/recrutement">
      <mat-icon>work</mat-icon>
      <span>Recrutement</span>
    </button>


    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/GsAdmin/profil">
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
