<mat-drawer-container >
    <mat-drawer style="background-color: rgb(229,240,241)" opened="true" mode="side" position="start">
      <mat-list>
        <mat-list-item>
          <button mat-button routerLink="/GsAdmin/departement">
            <mat-icon>home</mat-icon>
            Departement
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button routerLink="/GsAdmin/rh">
            <mat-icon>personne</mat-icon>
            RH
          </button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button routerLink="/GsAdmin/employes">
            <mat-icon>personne</mat-icon>
            Employes
          </button>
        </mat-list-item>
      </mat-list>
    </mat-drawer>
   <mat-drawer-content>
      <div style="min-height: 600px">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  