<section id="hero">
  <div class="box">
    <div class="container">
      <div class="top-header">
        <header>Candidacy</header>
      </div>

      <form [formGroup]="formcandidature" (ngSubmit)="submitcandidat()">
        <div class="input-field">
          <input type="text" class="input" placeholder="First Name" formControlName="nom" required>
        </div>
        <div class="input-field">
          <input type="text" class="input" placeholder="Last Name" formControlName="prenom" required>
        </div>
        <div class="input-field">
          <input type="email" class="input white-text" placeholder="Email" formControlName="email" required>
        </div>
        <div class="input-field1">
          <select class="input1 white-text" formControlName="departement">
            <option>Informatique</option>
            <option>RH</option>
          </select>
        </div>
        <div class="input-field">
          <label class="upload-label" for="cv">Upload CV: {{ cvName || 'No file chosen' }}</label>
          <input type="file" class="file-upload" id="cv" accept="application/pdf" (change)="selectFile($event, 'cv')">
        </div>        
        <div class="input-field">
          <label for="motivation_letter" class="upload-label">Upload Lettre: {{ lettreMotivationName || 'No file chosen' }}</label>
          <input type="file" id="motivation_letter" (change)="selectFile($event, 'lettreMotivation')" class="file-upload" accept="application/pdf">
        </div>
        <div class="input-field">
          <input type="submit" class="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</section>
