<body>
<div class="box">
  <div class="container">
    <div class="top-header">
      <header>candidacy</header>
    </div>

    <div class="input-field">
      <input type="text" class="input" placeholder="First Name" required>
    </div>
    <div class="input-field">
      <input type="text" class="input" placeholder="Last Name" required>
    </div>
    <div class="input-field">
      <input type="email" class="input white-text" placeholder="Email" required>
    </div>
    <div class="input-field">

      <select class="input white-text">
        <option disabled selected>Departement</option>
        <option>Human resource</option>
        <option>Marketing</option>
        <option>Finance</option>
        <option>Computer science</option>

      </select>
    </div>
    <div class="input-field">
      <label for="cv" class="upload-label">Upload CV</label>
      <input type="file" id="cv" class="file-upload">
    </div>
    <div class="input-field">
      <label for="motivation_letter" class="upload-label">Upload Motivation Letter</label>
      <input type="file" id="motivation_letter" class="file-upload">
    </div>

    <div class="input-field">
      <input type="submit" class="submit" value="Submit">
    </div>
  </div>
</div>
</body>
