.container {
  width: 80%;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

table {
  width: auto;
  border-collapse: collapse;
  margin-bottom: 20px;
  margin-left: -130px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: white;
}

.actions {
  text-align: center;
}

.modifier-btn, .supprimer-btn, .ajouter-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modifier-btn {
  background-color: #3498db;
  color: #fff;

}

.supprimer-btn {
  background-color: #e74c3c;
  color: #fff;
  margin-top: 4px;

}

.ajouter-btn {
  background-color: #28a745;
  color: #fff;
  display: block;
  margin: 20px -130px;
}
.edit-button:hover, .delete-button:hover, .add-button:hover {
  background-color: #bad2d3;
}
.ajouter-btn:hover, .supprimer-btn:hover, .modifier-btn:hover {
  background-color: #bad2d3;
}

input[type="text"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: #f8f8f8;
}

input[type="text"]:focus {
  outline: none;
  border-color: #065767;
  box-shadow: 0 0 8px 0 #065767;
}
