<div class="container">
  <h2>Liste des employés</h2>

  <input type="text" [(ngModel)]="searchText" placeholder="Rechercher...">

  <table>
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Salaire</th>
      <th>Téléphone</th>
      <th>Département</th>
      <th>Contrat</th>
      <th>Fonction</th>
      <th>Password</th>
      <th>CIN</th>
      <th>CNSS</th>
      <th>Date de naissance</th>
      <th>Date de recrutement</th>
      <th>Email</th>
      <th>Département ID</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of filteredEmployees">
      <td>{{ employee.nom }}</td>
      <td>{{ employee.prenom }}</td>
      <td>{{ employee.salaire | currency:'DH '}}</td>
      <td>{{ employee.telephone }}</td>
      <td>{{ employee.departement }}</td>
      <td>{{ employee.contrat }}</td>
      <td>{{ employee.fonction }}</td>
      <td>{{ employee.password }}</td>
      <td>{{ employee.cin }}</td>
      <td>{{ employee.cnss }}</td>
      <td>{{ employee.date_naissance }}</td>
      <td>{{ employee.date_recrutement }}</td>
      <td>{{ employee.email }}</td>
      <td>{{ employee.departement_id }}</td>
      <td>
        <button (click)="editEmployee(employee)" class="modifier-btn">Modifier</button>
        <button (click)="deleteEmployee(employee.cin)" class="supprimer-btn">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>

  <button (click)="addEmployee()" class="ajouter-btn">Ajouter Employé</button>
</div>
