<mat-toolbar  style="background-color: cadetblue">
  <button mat-button style="color: aliceblue;font-size:larger" routerLink="/home">MH&RH</button>
  <span style="flex: auto"></span>
  <button mat-raised-button style="font-size: small" routerLink="/candidature">Candidacy</button>
  <span style="margin-left: 10px;"></span> <!-- Adjust the margin as needed -->
  <button mat-raised-button style="background-color: darkslategrey;color: aliceblue;font-size: small" routerLink="/login">LogIn</button>
</mat-toolbar>
<router-outlet></router-outlet>
