<div mat-dialog-title class="header">
    <h1>Add Taches</h1>
    <mat-icon mat-dialog-close #close_button class="close-button">clear</mat-icon>
</div>
<div mat-dialog-content>
    <form [formGroup]="tachesFormGroup" class="step-form">
        <ng-template matStepLabel>Information Personnel</ng-template>
        <div class="formGroup">
            <div class="form-row">
                <mat-form-field class="form-field">
                    <mat-label>Date Debut</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateDebut">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>Date Fin</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dateFin">
                    <mat-hint>DD/MM/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-row">
                <mat-form-field class="form-field">
                    <mat-label>Description</mat-label>
                    <input matInput placeholder="Description" formControlName="description" required>
                </mat-form-field>
                <mat-form-field class="form-field">
                    <mat-label>etats</mat-label>
                    <mat-select formControlName="etat" required>
                        @for (etat of etats; track etat) {
                        <mat-option [value]="etat.value">{{etat.viewValue}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="header">
                <button mat-mini-fab color="primary" matStepperNext class="right-button">
                    <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>
        </div>
    </form>
</div>