<div class="profile-container">
  <div class="profile-left">
    <div class="edit-section">
      <h2>Profile</h2>
      <img class="avatar mat-elevation-z8" [src]="getPhotoUrl()" alt="Avatar">


      <div class="employee-info">
        <ul>
          <li><strong>CIN:</strong> {{ cin }}</li>
          <li><strong>Nom:</strong> {{ nom }}</li>
          <li><strong>Prénom:</strong> {{ prenom }}</li>
          <li><strong>Date de Naissance:</strong> {{ dateNaissance }}</li>
          <li><strong>Téléphone:</strong> {{ telephone }}</li>
          <li><strong>Email:</strong> {{ email }}</li>
          <li><strong>Contrat:</strong> {{ contrat }}</li>
          <li><strong>Fonction:</strong> {{ fonction }}</li>
          <li><strong>Salaire:</strong> {{ salaire }}</li>
          <li><strong>CNSS:</strong> {{ cnss }}</li>
          <li><strong>Date de Recrutement:</strong> {{ dateRecrutement }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="profile-right">
    <div class="edit-section">
      <h2>Modifier mail et Mot de passe </h2>
      <div class="email-change">
        <label>Nouveau mail</label>
        <input type="email"  class="input-field">
      <div class="password-change">

        <label>Nouveau mot de passe</label>
        <input type="password"  class="input-field">
        <button (click)="changePassword()" class="submit">Enregistrer</button>
      </div>
    </div>


  </div>
</div>
</div>
