<div class="container">
  <h2>Liste des départements</h2>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>ID RH</th>
      <th>Nom</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let departement of departements">
      <td>{{ departement.id }}</td>
      <td>{{ departement.rh_id }}</td>
      <td>{{ departement.nom }}</td>
      <td class="actions">
        <button (click)="editDepartement(departement.id)" class="modifier-btn">Modifier</button>
        <button (click)="deleteDepartement(departement.id)" class="supprimer-btn">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>

  <button class="ajouter-btn" (click)="addDepartement()">Ajouter Département</button>
</div>
